link(href='/stylesheets/chat.css' rel='stylesheet')

#offcanvasRight.offcanvas.offcanvas-end(tabindex='-1' aria-labelledby='offcanvasRightLabel')
    .offcanvas-header
        //- h5#offcanvasRightLabel Offcanvas right
        button.btn-close.text-reset(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
    .offcanvas-body
        div#chat
            .chat_window
                .top_menu
                    .buttons
                        //- .button.close
                        .button.minimize
                        .button.maximize
                    .title Chat
                ul.messages.bd
                .bottom_wrapper.clearfix.bd
                    .message_input_wrapper
                        input.message_input(placeholder='Nhập nội dung ở đây...')
                    .send_message
                        .icon
                        .text Gửi
            .message_template
                li.message
                    .avatar
                    .text_wrapper
                        .text

script. 
    function showChat() {
        $(".bd").attr("style","display: block!important");
        $(".chat_window").attr("style", "height: 500px!important");
    }
    function hideChat() {
        $(".bd").attr("style","display: none!important");
        $(".chat_window").attr("style", "height: auto!important");
    }
    //- hideChat();
    
    $('.send_message').click(function (e) {
        return room.actionSendMessage();
    });
    $('.message_input').keyup(function (e) {
        if (e.which === 13) {
            return room.actionSendMessage();
        }
    });

    $(".maximize").click(function() {
        showChat();
    });
    $(".minimize").click(function() {
        hideChat();
    })
    
   