.card#meet-info(style='margin-bottom: 10px; margin-top: 10px;')
    .card-body
        #videoMedia.hidden
            .row
                .col-md-12
                    #localMedia
            #remoteVideos.row
            #remoteAudios.row
        div.row
            div.col-md-6
                div.input-group.mb-3
                    div.input-group-prepend
                        label.input-group-text(for="videoSelect")
                            | Video 
                    select#videoSelect.form-select
            div.col-md-6
                div.input-group.mb-3
                    div.input-group-prepend
                        label.input-group-text(for="audioSelect")
                            | Audio 
                    select#audioSelect.form-select
        div.row
            div.col.col-sm-4
                div.btn-group.mr-2.mt-2(role="group" aria-label="Video group")
                    button#btn-start-cam.btn.btn-primary(type='button') 
                        i(data-feather="camera") 
                    button#btn-stop-cam.btn.btn-danger(type='button', disabled='true') 
                        i(data-feather="camera-off") 

            div.col.col-sm-4
                div.btn-group.mr-2.mt-2(role="group" aria-label="Audio group")
                    button#btn-start-mic.btn.btn-primary(type='button') 
                        i(data-feather="mic") 
                    button#btn-stop-mic.btn.btn-danger(type='button', disabled='true') 
                        i(data-feather="mic-off") 

            div.col.col-sm-4
                div.btn-group.mr-2.mt-2(role="group" aria-label="Screen group")
                    button#btn-start-screen.btn.btn-warning(type='button') 
                        i(data-feather="share") 

script.
    $(document).ready(function() {
        $("#btn-start-cam").click(async function() {
            var videoSelect = $("#videoSelect").val();
            await room.produce(room.mediaType.video, videoSelect);
            $(this).prop('disabled', true);
            $("#btn-stop-cam").prop('disabled', false);
        });
        $("#btn-stop-cam").click(async function() {
            await room.closeProducer(room.mediaType.video);
            $(this).prop('disabled', true);
            $("#btn-start-cam").prop('disabled', false);
        });

        $("#btn-start-mic").click(async function() {
            var audioSelect = $("#audioSelect").val();
            await room.produce(room.mediaType.audio, audioSelect);
            $(this).prop('disabled', true);
            $("#btn-stop-mic").prop('disabled', false);
        });
        $("#btn-stop-mic").click(async function() {
            await room.closeProducer(room.mediaType.audio);
            $(this).prop('disabled', true);
            $("#btn-start-mic").prop('disabled', false);
        });

        $("#btn-start-screen").click(async function() {
            await room.produce(room.mediaType.screen);
        });
        $("#btn-stop-screen").click(async function() {
            await room.closeProducer(room.mediaType.screen);
        });
    }); 