div#invite(style="margin-top: 10px;")
    nav.navbar.navbar-light.bg-light(style="padding-left: 10px;")
        input.form-control(type='hidden' value=id id="val-cp")
        button.btn.btn-sm.btn-outline-secondary(type='button', id="coppy-to") Mời bạn bè
        .fb-share-button(data-href=joinUrl data-layout='button' data-size='large')
            a.fb-xfbml-parse-ignore(target='_blank' href=shareUrl) Chia s&#x1EBB;
