.card#game-info(style='margin-bottom: 10px;')
    .card-body
        h5.card-title Start game
        p.card-text
            p Click vào nút "Mời bạn bè" để  lấy link, sau đó gửi cho bạn bè để vào phòng. 
            p Khi nào mọi người vào đông đủ thì bấm nút "Bắt đầu chơi" (Nút màu xanh phía dưới) để chơi... 
            p Ô số bắt đầu từ 0, người chơi sẽ bắt đầu với 0 và chọn theo thứ tự số tự nhiên liên tiếp từ bé đến lớn.
            p Trò chơi kết thúc khi toàn bộ các ô số được "cướp" hết.
        button#btn-start-id.btn.btn-primary(type='button', onClick='sendMessage("start")') 
            i(data-feather="play-circle") 
            | &nbsp;Bắt đầu chơi

    .table-responsive
        table.table.table-bordered.border-primary.table-hover-cells
            tbody#matrix