div#notify
    .position-fixed(aria-live='polite' aria-atomic='true')
        .row 
            .col-md-6.offset-md-6(style="text-align: right;")
                button.btn.btn-success(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasRight' aria-controls='offcanvasRight') 
                    svg.bi.bi-chat-dots(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                        path(d='M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z')
                        path(d='m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z')
                    | &nbsp;Chat
        .toast-container.top-0.end-0.p-3
            .toast.fade.show(role='alert' aria-live='assertive' aria-atomic='true')
                //- .toast-header
                //-     strong.me-auto Thông báo
                //-     small.text-muted vừa xong
                //-     button.btn-close(type='button' data-bs-dismiss='toast' aria-label='Close')
                .toast-body
                    span.badge.bg-danger Số tiếp theo
                    | &nbsp;
                    span#next-number.badge.rounded-pill.bg-success