extends ../layouts/other.pug

block content
    div.row(style='margin-top:10px;')
        div.col-md-6
            form.row.g-3(method='POST')
                .col-md-4
                    label.form-label(for='inputRoomName') Tên phòng
                    input#inputRoomName.form-control(type='text' placeholder='Nhập tên phòng', name="name")
                .col-md-4 
                    label.form-label(for='inputLevel') Cấp độ
                    select#inputLevel.form-select(name="level")
                        option(value='Easy') Easy
                        option(value='Medium' selected=true) Medium 
                        option(value='Hard') Hard 
                .col-md-4
                    label.form-label(for='inputPassword') Mật khẩu phòng
                    input#inputPassword.form-control(type='password', name="password")
                .col-md-4
                    label.form-label(for='inputRow') Số hàng
                    input#inputRow.form-control(type='number', value=10, name="row")
                .col-md-4
                    label.form-label(for='inputColumn') Số cột
                    input#inputColumn.form-control(type='number', value=10, name="column")
                .col-md-4
                    label.form-label(for='inputMax') Khách mời tối đa
                    input#inputMax.form-control(type='number', value=4, name="max_client")
                
                .col-12
                    button.btn.btn-primary(type='submit') Tạo phòng

