extends ../layouts/main.pug

block content
    #fb-root
    script(async='' defer='' crossorigin='anonymous' src='https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v11.0&appId=216661653391378&autoLogAppEvents=1' nonce='sLKL7Ow5')
    div.row(style='margin-top:10px;')
        div.col-md-9 
            //- include _conference.pug
            .card#game-info(style='margin-bottom: 10px;')
                .card-body
                    h5.card-title Start game
                    p.card-text
                        p Click vào nút "Mời bạn bè" để  lấy link, sau đó gửi cho bạn bè để vào phòng. 
                        p Khi nào mọi người vào đông đủ thì bấm nút "Bắt đầu chơi" (Nút màu xanh phía dưới) để chơi... 
                        p Ô số bắt đầu từ 0, người chơi sẽ bắt đầu với 0 và chọn theo thứ tự số tự nhiên liên tiếp từ bé đến lớn.
                        p Trò chơi kết thúc khi toàn bộ các ô số được "cướp" hết.
                    button#btn-start-id.btn.btn-primary(type='button', onClick='room.sendMessage("start")') 
                        i(data-feather="play-circle") 
                        | &nbsp;Bắt đầu chơi

            .table-responsive
                table.table.table-bordered.border-primary.table-hover-cells
                    tbody#matrix
        div.col-md-3
            div#summary-id
            include _conference.pug
            include _invite.pug
            include _notify.pug
            include _chat.pug 
                                
    script.
        $(document).ready(async function() {
            room.create("#{id}");
            await loadDevices();
            
            $("#btn-start-id").click(function () {
                $("#game-info").remove();
            });

            $("#coppy-to").click(function() {
                var copyText = document.getElementById("val-cp");
                var port = '';
                if(window.location.port) port = ':' + window.location.port;
                var fullLink = window.location.protocol + "//" + window.location.hostname + port + "/room/join/" + copyText.value;
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val(fullLink).select();
                document.execCommand("copy");
                $temp.remove();
                $(this).text('Đã sao chép');
                setTimeout(function() {
                    $(this).text('Mời bạn bè');
                }.bind(this), 1000);
            });

            var loadingModal = document.getElementById('loadingModal')
            loadingModal.addEventListener('hidden.bs.modal', async function (event) {
                room.rename();
            });
        });

