extends ../layouts/main.pug

block content
    div.row(style='margin-top:10px;')
        div.col-md-9 
            //- include _conference.pug
            .table-responsive
                table.table.table-bordered.border-primary.table-hover-cells
                    tbody#matrix
                        .card#game-info-join(style='margin-bottom: 10px;')
                            .card-body
                                h5.card-title Start game
                                p.card-text
                                    p Chờ cho đến khi chủ phòng start nhé... 
                                    p Ô số bắt đầu từ 0, người chơi sẽ bắt đầu với 0 và chọn theo thứ tự số tự nhiên liên tiếp từ bé đến lớn.
                                    p Trò chơi kết thúc khi toàn bộ các ô số được "cướp" hết.
        div.col-md-3
            div#summary-id
            include _conference.pug
            include _notify.pug
            include _chat.pug 
    script.
        $(document).ready(async function() {
            room.join("#{id}");
            //Load mediaDevice options
            await loadDevices();
            var loadingModal = document.getElementById('loadingModal')
            loadingModal.addEventListener('hidden.bs.modal', async function (event) {
                room.rename();
            });
        });

