extends layouts/main.pug

block content
    .bd-example(style="margin-top: 10px;")
        .card(style='')
            .card-body
                .row(style='margin-top:10px;')
                    .col-md-6
                        form.row.g-3(method='POST')
                            .col-md-4
                                label.form-label(for='inputRoomName') Room ID
                                input#inputRoomName.form-control(type='text' placeholder='Enter your room id', name="room_id")

                            .col-md-4
                                label.form-label(for='inputRoomName') Username
                                input#inputRoomName.form-control(type='text' placeholder='Enter your name', name="username")
                                
                            .col-md-4
                                label.form-label(for='inputMax') Max clients
                                input#inputMax.form-control(type='number', value=4, name="max_client")
                            .col-12
                                button.btn.btn-primary(type='button') Create





