doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='Chọn số  trong các ô có sẵn theo thứ tự từ nhỏ đến lớn, ai chọn được nhiều số hơn người đó thắng, nhanh tay nhanh mắt, nhiều người chơi')
    meta(name='keywords' content='cướp số, giật số, number robbery, number snatching')
    meta(name='author' content='hungls@gostream.vn')
    meta(name='generator' content='Hugo 0.83.1')
    title Number snatching &middot; Giật số  &middot; Trò chơi của những ngày xưa
    meta(property="og:image" content="https://bisu.streamhay.com/images/bisu-logo.png")
    
    link(href='/assets/dist/css/bootstrap.min.css' rel='stylesheet')
    link(href='/stylesheets/custom.css' rel='stylesheet')
    link(href='/stylesheets/dashboard.css' rel='stylesheet')
    
    script(src='https://code.jquery.com/jquery-3.6.0.js')

    script(src="/javascripts/mediasoupclient.min.js")
    script(src='/javascripts/colyseus.js')
    script(src='/javascripts/RoomClient.js')
    script(src='/javascripts/main.js?v=0.3')

    // Global site tag (gtag.js) - Google Analytics
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-QJ29SR1QLD')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-QJ29SR1QLD');
    
header.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0.shadow
    a.navbar-brand.col-md-3.col-lg-2.me-0.px-3(href='/') Dzựt số
    button.navbar-toggler.position-absolute.d-md-none.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#sidebarMenu' aria-controls='sidebarMenu' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    input.form-control.form-control-dark.w-100(type='text' placeholder='Search' aria-label='Search')
    ul.navbar-nav.px-3
        li.nav-item.text-nowrap
            a.nav-link(href='#') Contacts
.container-fluid
    .row(style="margin-bottom: 150px;")
        nav#sidebarMenu.col-md-2.col-lg-2.d-md-block.bg-light.sidebar.collapse
            .position-sticky.pt-3
                ul.nav.flex-column
                    li.nav-item
                        a.nav-link.active(aria-current='page' href='/')
                            span(data-feather='home')
                            |                                 Trang chủ
                    li.nav-item
                        a.nav-link(href='#')
                            span(data-feather='file')
                            |                                 Danh sách phòng chơi
                    li.nav-item
                        a.nav-link(href='#')
                            span(data-feather='users')
                            |                                 Danh sách người chơi
                    li.nav-item
                        a.nav-link(href='#')
                            span(data-feather='shopping-cart')
                            |                                 Cửa hàng
                    li.nav-item
                        a.nav-link(href='#')
                            span(data-feather='bar-chart-2')
                            |                                 Thống kê
                    li.nav-item
                        a.nav-link(href='#')
                            span(data-feather='layers')
                            |                                 Tích hợp
                h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
                    span Vào phòng nhanh
                    a.link-secondary(href='#' aria-label='Add a new report')
                        span(data-feather='plus-circle')

        main.col-md-10.ms-sm-auto.col-lg-10.px-md-4
            block content

#loadingModal.modal.fade(tabindex='-1' z-index='999999999' aria-labelledby='loadingModalLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-body
        | Loadding...

div#renameModal.modal(tabindex='-1')
    .modal-dialog
        .modal-content
            .modal-header
                h5.modal-title Tên bạn là gì?
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
                input.form-control(type="text" placeholder="Nick name" aria-label="Nick name" id="nicknameInput")
            .modal-footer
                button.btn.btn-success(type='button' id='renameBtn') Lưu

div#resultModal.modal(tabindex='-1')
    .modal-dialog
        .modal-content
            .modal-header
                h5.modal-title Bảng tổng sắp
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
                p Modal body text goes here.
            .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close

script(src='/assets/dist/js/bootstrap.bundle.min.js')
script(src='https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js')
script(src='https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js')
script(src='/javascripts/dashboard.js')
